:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: rgb(82, 255, 168);
  --greyish-blue: hsl(217, 19%, 38%);
  --dark-greyish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

.card {
  transform: translateY(65%);
  background-color: var(--dark-greyish-blue);
  padding: 45px 35px;
  border-radius: 15px;
  max-width: 550px;
  min-height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
}

.advice__nb {
  text-transform: uppercase;
  color: var(--neon-green);
  font-size: 14px;
  letter-spacing: 4px;
}

.advice {
  font-size: 28px;
  text-align: center;
}

.divider {
  margin: 15px 0px 25px 0px;
}

.dice__btn {
  background-image: url(./../../assets/images/icon-dice.svg);
  background-repeat: no-repeat;
  background-color: var(--neon-green);
  background-position: center;
  width: 65px;
  height: 65px;
  border: none;
  border-radius: 180px;
  cursor: pointer;
  position: absolute;
  bottom: -32px;
}

.dice__btn:hover {
  box-shadow: 0px 0px 40px 0px rgba(82, 255, 168, 0.9);
  -webkit-box-shadow: 0px 0px 40px 0px rgba(82, 255, 168, 0.9);
  -moz-box-shadow: 0px 0px 40px 0px rgba(82, 255, 168, 0.9);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .card {
    max-width: 350px;
    padding: 35px 25px;
    border-radius: 10px;
  }

  .advice__nb {
    font-size: 12px;
  }

  .advice {
    font-size: 24px;
    text-align: center;
  }

  .divider {
    margin: 15px 0px 35px 0px;
  }
}
